body {
    background: url("http://kb4images.com/images/photo-background-images/37290378-photo-background-images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#posts{
    font-family: Apple Chancery, cursive;
}






