.jumbotron {
    background-image: url("../img/pizza.png");
    background-size:cover;
}

.jumbo-center {
    text-align: center;
}
.d-sm-none .d-md-block;

#choose {
    background-color: #007aff;
}

