/* mobile view */
body {
  margin: 20px;
    font-family: Helvetica;
    postion: relative;
}

h1 {
    text-align: center;
    width: 100%;
}

img {width:100%;
}



.alert-info a {
    background-color: #ddfaff;
    display: block;
    text-align: center;
    text-underline: none;
    color: black;
    padding: 15px;
    border: 2px solid gray;
}

.nav-links {
    list-style: none;
    padding: 0;
    font-weight: bold;
}

.nav-links a {
    display: block;
    text-align: center;
    background:  gray;
    margin-bottom: 5px;
    padding: 15px;
}

.sub-section {
    font-style: italic;
}



/* DESKTOP VIEW */
@media screen and (min-width:768px) {

h1 {
    float: left;
}
    .hidden-on-desktop {
        display: none;
}

    .nav-links li{
        display: inline-block;
        margin-left: 20px;
    }

    .nav-links li a {
        padding: 0;
        background: inherit;
        display: inline-block;
        margin: 0;
    }


    section {

    }


.sub-section {
    width: 33.33%;
    box-sizing: border-box;
}

.main {
    width: 66.66%;
    padding: 0;
    padding-right: 2em;
    box-sizing: border-box;
}

footer {
    margin-top: 300px;
}



    /**/

    /*height: 210px;*/
    /*line-height: 20px;*/
    /*text-align: center;*/
/*}*/


/*body > div.alert-info.hidden-on-desktop > a {*/

    /*text-decoration: none;*/
    /*color: #000;*/
/*}*/

/*li {*/
    /*background-color: gray;*/
    /*margin: .5em;*/
    /*text-align: center;*/
    /*list-style: none;*/
    /*padding: .5em 0;*/
/*}*/

/*ul {*/
    /*padding: 0;*/
/*}*/
